<div class="card m-3 p-3">
    <div class="p-0 col-12 d-flex align-items-start">
        <div class="align-self-start col-4">
            <img [src]="event?.image" class="img-fluid rounded" alt="">
        </div>
        <div class="d-flex flex-column col-4">
            <h1>{{ event?.eventName }}</h1>
            <h3>{{ event?.location }}</h3>
            <div>
                <span>{{ event?.startDate | date}}</span>
                <span> - </span>
                <span>{{ event?.endDate | date}}</span>
            </div>
        </div>
        <div class="d-flex flex-column col-4">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel *ngFor="let subEvent of subEvents">
                    <ng-template ngbPanelContent>
                        <div>
                            <span>{{ subEvent.eventStart | date}}</span>
                            <span> - </span>
                            <span>{{ subEvent?.eventEnd | date}}</span>
                        </div>
                        <p>
                            {{ subEvent?.description}}
                        </p>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>